.flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}

img {
    height: 190px;
}

.navegação {
    display: flex;
    color: aqua;
}

p {
    margin-top: 0;
    margin-left: 5px;
}